{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the About Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae velit distinctio, temporibus facere aliquid eligendi voluptatibus 
                    officia odio, nisi ratione ex reprehenderit sequi hic excepturi incidunt similique praesentium quae quos.</p>
                    <p>This came from template: {{index .StringMap "reserved"}}</p>

            </div>
        </div>
    </div>
    
{{end}}